@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body{
    background-color:#ffffff;
    color:#0fcf9e;
    font-family: 'PT Sans', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

label{
    font-size: 20px;
}

.input{
    padding: 0.7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
    background-color: #ffffff;
    box-shadow: 0px 1px 2.5px 0px rgba(0, 0, 0, 0.5);
    border: 0;
    outline: none;
}

form{
    border-radius: 0.6rem;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
    padding: 3rem;
}

form div{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
}

button{
    cursor: pointer;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    color: #0fcf9e;
    box-shadow: 0px 0px 2.5px 0px rgb(0, 0, 0,0.0);
    text-align: center;
    padding: 0.8rem;
}